*.o
/alist-to-pchk
/decode
/encode
/extract
/make-gen
/make-ldpc
/make-pchk
/mod2convert-test
/mod2dense-test
/mod2sparse-test
/pchk-to-alist
/print-gen
/print-pchk
/rand-src
/rand-test
/transmit
/verify
